*{
    margin: 0;
    padding: 0;
    font-family: '넥슨LV1고딕';
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
.wrap{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
}
body{
    background-color: #effff9;
}

/*---- 헤더 ----*/
header{
    width: 100%;
    height: 140px;
    font-size: 13px;
    background-color: #fff;
}
header> .header_wrap{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
header> .header_wrap> div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*메인으로 바로가기, 제품찾기*/
.header_left{
    width: 500px;
}
.search{
    width: 240px;
    height: 30px;
    border: 2px #333 solid;
    border-radius: 200px;
    overflow: hidden;
}
.search> input{
    width: 200px;
    height: 20px;
    border: none;
    position: relative;
    text-align: center;
    left: 5px;
    bottom: 1px;
    outline: none;
}
.search> button{
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: none;
    outline: none;
    position: relative;
    top: 3px;
    left: 5px;
}
.search> button> img{
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
/*로고*/
.header_center> a> img{
    width: 100px;
    height: 100px;
    position: relative;
}
/*서브메뉴, 아이콘*/
.header_right{
    width: 500px;
    text-align: right;
}
.header_right> div> nav{
    width: 450px;
    margin-left: 50px;
}
.header_right> div> nav> ul{
    display: flex;
    justify-content: space-between;
}
.header_right> .icon> a{
    padding-left: 15px;
}
.header_right> .icon> a> img{
    width: 27px;
    height: 25px;
}


/*---- 메뉴 ----*/
.menu{
    background-color: #87ffcf;
    height: 60px;
    text-align: center;
    font-weight: 600;
}
.menu> ul{
    width: 1100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.menu> ul> li{
    width: 150px;
}
.menu> ul> li> a{
    display: inline-block;
    width: 100%;
    height: 20px;
    padding: 20px 0px;
}
.sub_menu{
    display: none;
}


/*---- 이미지슬라이드 ----*/
#img_slide{
    width: 100%;
    background-color: #effff9;
}
.img_slide{
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.img_slide button{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    border-radius: 100%;
    outline: none;
    border: none;
    background:rgba(255,255,255,.5);
}
.img_slide button::before{
    font-family: 'xeicon';
    color: #000;
    font-size: 35px;
}
.img_slide button.slick-prev{
    left: 50px;
    font-size: 0;
    color: transparent;
}
.img_slide button.slick-prev::before{
    content: "\e93d";
}
.img_slide button.slick-next{
    right: 50px;
    font-size: 0;
    color: transparent;
}
.img_slide button.slick-next::before{
    content: "\e940";
}


/*---- 베스트 코너 ----*/
#md{
    margin: 0 auto;
    width: 100%;
    height: 1100px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;
}
.md> .one1{
    width: 600px;
    height: 600px;
    border-radius: 650px;
    background-color: #87ffcf;
    position: absolute;
    z-index: -5;
    top: 30px;
    right: 550px;
}
.md> .one2{
    width: 600px;
    height: 600px;
    border-radius: 650px;
    background-color: #b4ffe1;
    position: absolute;
    z-index: -5;
    top: 200px;
    left: 550px;
}
#md> .one3{
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: -8;
    top: 380px;
    background-color: #fff;
    
}
.md{
    margin: 0 auto;
    margin-top: 150px;
    width: 1050px;
    height: 800px;
    display: flex;
    position: relative;
    flex-direction: column;
}
.md> p{
    width: 270px;
    height: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    border-bottom: 15px #87ffcf solid;
}
.md> .panner{
    width: 100%;
    height: 650px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.md> .panner> div{
    display: flex;
    justify-content: space-between;
}
.md> .panner> div> a{
    width: 230px;
    height: 300px;
    background-color: #fff;
    box-shadow: 3px 3px #ccc;
    display: flex;
    flex-direction: column;
}
.md> .panner> div> a> img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 15px;
}
.md> .panner> div> a> p{
    width: 200px;
    margin: 0 auto;
    text-align: left;
    font-weight: 600;
}
.md> .panner> div> a> p:nth-child(2){
    font-weight: 400;
    margin-top: 10px;
    height: 45px;
}
/*---- 이벤트 코너 ----*/
#event{
    width: 100%;
    height: 800px;
    /*background-color: darkgoldenrod;*/
}
.event{
    width: 1050px;
    margin: 0 auto;
    /*background-color: darkkhaki;*/
    font-size: 14px;
    margin-top: 100px;
    position: relative;
}
#event> .event_back{
    width: 100%;
    height: 300px;
    margin-top: 150px;
    position: absolute;
    background-color: #87ffcf;
}
.event> p{
    width: 400px;
    height: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    border-bottom: 15px #87ffcf solid;
}
.event> div{
    margin-top: 50px;
    width: 1050px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.event> div> a{
    width: 300px;
    height: 420px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px #ccc;
}
.event> div> a> ul{
    width: 270px;
    margin: 0 auto;
    display: flex;
    padding: 3px 0px;
}
.event> div> a> ul:nth-child(1){
    justify-content: space-between;
}
.event> div> a> ul:nth-child(1)> li{
    padding: 10px 0px;
}
.event> div> a> ul:nth-child(1)> li> p{
    font-weight: 600;
    color: #333;
    margin-right: 160px;
    padding-top: 5px;
}
.event> div> a> ul:nth-child(1)> li:nth-child(1)> img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.event> div> a> ul:nth-child(3){
    padding-top: 10px;
}
.event> div> a> ul:nth-child(3)> li{
    margin-right: 15px;
}
.event> div> a> ul:nth-child(3)> li:nth-child(3){
    margin-right: 160px;
}
.event> div> a> ul:nth-child(4)> li:nth-child(1){
    color: #333;
    font-weight: 600;
    padding-right: 10px;
}
.event> div> a> .event_img{
    width: 270px;
    height: 270px;
    margin: 0 auto;
}
.event> div> a> .event_img> img{
    width: 270px;
    height: 270px;
    margin: 0 auto;
}
.event> div> a> ul> li> img{
    width: 20px;
    height: 20px;
}
/*---- 베스트 코너 ----*/
#best{
    width: 100%;
    height: 1000px;
}
.best{
    width: 1050px;
    height: 100%;
    margin: 0 auto;
    margin-top: 150px;
}
.best> p{
    width: 250px;
    height: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    border-bottom: 15px #87ffcf solid;
}
.best> ul{
    width: 1050px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.best> ul> li{
    font-size: 14px;
    display: flex;
    text-align: center;
    background-color: #87ffcf;
    border-radius: 100px;
}
.best> ul> li> a{
    width: 5px;
    font-size: 14px;
    width: 100px;
    text-align: center;
    padding: 15px 0px;
    font-size: 13px;
    font-weight: 600;
}
.best> .best_panner{
    width: 100%;
    height: 900px;
    display: flex;
}
.best> .best_panner> div{
    display: flex;
}
.best> .best_panner> div:nth-child(1){
    width: 45%;
    height: 100%;
    position: relative;
}
.best> .best_panner> div:nth-child(1)> div{
    height: 600px;
    display: flex;
    flex-direction: column;
}
.best> .best_panner> div:nth-child(1)> div> .one5{
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: #fff;
    border: 10px #87ffcf solid;
    z-index: 10;
    border-radius: 100px;
    top: 385px;
    left: 235px;
}
.best> .best_panner> div:nth-child(1)> div> .one5> p{
    z-index: 11;
    font-size: 35px;
    color: #333;
    text-align: center;
    font-weight: 600;
    margin: 25px 0px;
}
.best> .best_panner> div:nth-child(1)> div> img:nth-child(2){
    width: 250px;
    position: absolute;
    left: 50px;
    top: 10px;
}
.best> .best_panner> div:nth-child(1)> div> a{
    width: 350px;
    height: 450px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 5px 5px 10px #ccc;
}
.best> .best_panner> div:nth-child(1)> div> a> img{
    width: 300px;
    height: 300px;
    margin-top: 25px;
}
.best> .best_panner> div:nth-child(1)> div> a> p{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 25px;
    text-align: left;
}
.best> .best_panner> div:nth-child(1)> div> a> p:nth-child(2){
    height: 45px;
    font-size: 23px;
}
.best> .best_panner> div:nth-child(1)> div> a> p:nth-child(3){
    font-weight: 600;
}
.best> .best_panner> div:nth-child(2){
    width: 55%;
    height: 750px;
    display: flex;
    flex-direction: column;
}
.best> .best_panner> div:nth-child(2)> div{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.best> .best_panner> div:nth-child(2)> div> div{
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.best> .best_panner> div:nth-child(2)> div> div> .one6{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 5px #87ffcf solid;
    z-index: 10;
    border-radius: 100px;
    top: 265px;
    left: 155px;
}
.best> .best_panner> div:nth-child(2)> div> div> .one6> p{
    z-index: 11;
    font-size: 20px;
    color: #333;
    text-align: center;
    font-weight: 600;
    margin: 13px 0px;
}
.best> .best_panner> div:nth-child(2)> div> div> img:nth-child(2){
    width: 150px;
    position: absolute;
    top: 25px;
    left: 35px;
    z-index: 10;
}
.best> .best_panner> div:nth-child(2)> div> div> a{
    width: 220px;
    height: 280px;
    text-align: center;
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 5px 5px 10px #ccc;
}
.best> .best_panner> div:nth-child(2)> div> div> a> img{
    width: 170px;
    height: 170px;
    margin-top: 10px;
}
.best> .best_panner> div:nth-child(2)> div> div> a> p{
    width: 150px;
    margin-top: 5px;
    text-align: left;
    margin-left: 20px;
}
.best> .best_panner> div:nth-child(2)> div> div> a> p:nth-child(2){
    font-size: 17px;
    margin-top: 20px;
    height: 35px;
}
.best> .best_panner> div:nth-child(2)> div> div> a> p:nth-child(3){
    font-weight: 600;
}
#banner_img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    float: none;
}
#banner_img> img{
    margin: 0 auto;
}